{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
    <h1 class="mb-4">Restaurants</h1>
    <div class="row">
        {% for display_name, original_name in restaurants.items() %}
            <div class="col-md-4 mb-4">
                <a href="{{ url_for('restaurant_details', restaurant_name=original_name) }}" class="text-decoration-none">
                    <div class="card h-100">
                        <img src="https://picsum.photos/200/150?random={{ loop.index }}" class="card-img-top" alt="{{ display_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ display_name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}